body {
  background-color: rgb(241, 221, 238);
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding: 20px;
}

.container > div {
  background-color: rgb(255, 255, 255);
  padding: 12px;
}

.pic {
  border: 3px solid rgb(23, 62, 21);
  width: 320px;
  height: auto;
  display: block;
}

#myCanvas {
  width: 320px;
  height: 320px;
  border: 3px solid rgb(23, 62, 21);
  display: block;
}